html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    color: white;
    background-image: url("../pictures/fon.jpeg");
    background-size: cover;
}

h1 {
    text-align: center;
    color: white !important;
    transition: text-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
}

h1:hover {
    text-shadow: 0 0 10px rgba(247, 80, 222, 0.8), 0 0 20px rgba(247, 80, 222, 0.8), 0 0 30px rgba(247, 80, 222, 0.8);
    color: rgb(247, 80, 222);
}

div {
    margin-bottom: 40px;
    text-align: left;
    max-width: 600px;
    margin-left: 20px;
    overflow-y: auto;
}

div p {
    margin: 0;
}

div p a {
    text-decoration: none;
    color: inherit;
}

div p a:hover {
    color: rgb(247, 80, 222);
}


.first{
    margin-left: 50px;
}



nav a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

nav a:hover {
    color: rgb(247, 80, 222);
    font-size: 120%;
    text-shadow: 3px 5px 10px rgba(247, 80, 222, 0.8);
}


.gif1 {
    margin-left: 200px;
    transition: transform 0.5s ease-in-out;
}

.gif1:hover {
    transform: scale(1.1);
}


div.hovered {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(247, 80, 222, 0.5);
}


.add-to-favorites {
    color: gold; 
    font-size: 1.2em; 
    margin-left: 5px; 
    cursor: pointer;
}

.add-to-favorites:hover {
    color: yellow; 
}